.custom-warning-toast .slds-notify_toast {
    max-width: 50vw;
    min-width: auto;
    padding-right: 2rem;
}

.custom-warning-toast h2 {
    font-size: 0.875rem;
    margin: 0 2rem;
    word-break: break-word;
}

.custom-warning-toast button:first-of-type {
    margin-right: 0.75rem;
}

.custom-warning-toast .slds-button_neutral,
.custom-warning-toast .slds-button_neutral:hover {
    background-color: transparent;
}

.custom-warning-toast .main {
    display: inline-block;
}

.custom-warning-toast .main .confirmation-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.custom-warning-toast .main .additional-notes-area {
    padding-top: 1rem;
}
.custom-warning-toast .main .additional-notes-area[data-is-show="false"] {
    display: none;
}

.confirmation-area_align-center {
    display: flex;
    align-items: center;
}

.slds-backdrop {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.confirmation-icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
    line-height: 1;
}

@media(max-width : 48rem) {
    .custom-warning-toast .slds-notify_toast {
        max-width: none;
        padding: 1rem 1rem 0;
    }

    .custom-warning-toast .main .confirmation-area {
        flex-direction: column;
    }

    .confirmation-area_align-center {
        margin-bottom: 1rem;
    }
}